#entities .field--name-revision-log-message,
#entities input[value="Remove"],
div[data-drupal-selector="edit-actions"] input:disabled {
  display: none;
}

#entity .field--name-revision-log-message,
#entity input[value="Remove"],
div[data-drupal-selector="edit-actions"] input:disabled {
  display: none;
}

#entities > div {
  border-bottom: 1px solid #ccc;
}

#entities > div:last-child {
  border-bottom: none;
}

.entity-preview {
  float: right;
  max-height: 200px;
  display: block;
  overflow: hidden;
}

.entity-preview * {
  max-height: 200px;
  width: auto;
}

form .entities-list .item-container {
  display: block;
  max-width: 400px;
}

.entities-list span.media--type-video,
.entities-list iframe,
.entities-list img {
  display: block;
  max-width: 100%;
  max-height: 200px;
  height: auto;
  width: auto;
}

input.entity-browser-use-selected {
  display: block;
  position: fixed;
  bottom: 0;
}

.entities-list .item-container > input.entity-browser-remove-selected-entity {
  margin: 5px auto -15px;
}

.entities-list {
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
  box-shadow: 10px 10px 8px 10px #888;
}

.ui-dialog .ui-widget-content.ui-dialog-content {
  overflow: hidden;
}

.ui-dialog-buttonpane,
input.entity-browser-show-selection,
.ui-dialog .ui-widget-content.ui-dialog-buttonpane {
  display: none;
}

#drupal-modal {
  padding: 0;
}