#entities .field--name-revision-log-message,
#entities input[value="Remove"],
div[data-drupal-selector="edit-actions"] input:disabled {
  display: none;
}

#entity .field--name-revision-log-message,
#entity input[value="Remove"],
div[data-drupal-selector="edit-actions"] input:disabled {
  display: none;
}

#entities > div {
  border-bottom: 1px solid #ccc;
}

#entities > div:last-child {
  border-bottom: none;
}

.entity-preview {
  float: right;
  max-height: 200px;
  display: block;
  overflow: hidden;
}

.entity-preview * {
  max-height: 200px;
  width: auto;
}