@charset "UTF-8";

///
/// BASE STYLES
///

// For overriding or making additions to the
// stanford_basic theme and/or Decanter.
//
// If overrides exceed resonable number of lines
// in code, create a partial in the base folder
// and import the file here.

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins';

// Accessibility helpers
*:focus,
a:focus {
  @include accessible-focus;
}

.ui-pattern {
  @include margin(2rem null null);
}

// Footer
#footer {
  background: $color-cloud;

  @include margin(3rem null null);
  @include padding(2em null null null);
  @include media($medium-screen) {
    @include margin(6rem null null);
  }


  @include media($large-screen) {
    @include margin(10rem null null);
  }


  h2 {
    font-size: $h3-font-size;
  }

  a {
    text-decoration: none;
  }

  #block-givingbutton p,
  .decanter-button,
  a.decanter-button {
    @include margin(0 null null);
  }
}

// Grid
.decanter-grid [class*="decanter-width-"] {
  margin-bottom: 2em;
}

// Header
#header {
  background: $color-cloud;

  @include padding(1em null null);

  .block--lockup__site-name-and-slogan a {
    color: $color-black;
    display: inherit;
    text-decoration: none;
  }

  .decanter-grid {
    display: flex;

    @include media($medium-screen) {
      display: block;
    }

    #block-math-research-center-branding {
      order: 2;
      text-align: center;
      @include media($medium-screen) {
        text-align: left;
      }
    }

    #block-searchform {
      order: 3;

      @include margin(null null null 1rem);
      @include media($medium-screen) {
        @include margin(null null null 0);
      }
    }

    #block-math-research-center-mainnavigation {
      order: 1;

      @include margin(null 1rem null null);
      @include media($medium-screen) {
        @include margin(null 0 null null);
      }
    }
  }
}

// Images
img {
  max-width: 100%;
  height: auto;
}

// Inputs

@import
  'inputs';

// Search
@import
  'search';

// Typography
.decanter-font-lead {
  font-weight: 400;
}
