@charset "UTF-8";

///
/// BASE STYLES
///

// For overriding or making additions to the
// stanford_basic theme and/or Decanter.

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins';

// Footer
#footer {
  background: $color-cloud;

  @include padding(1em null);
}

// Grid
.decanter-grid [class*="decanter-width-"] {
  margin-bottom: 2em;
}

// Header
#header {
  background: $color-cloud;

  @include padding(1em null);

  .block--lockup__site-name-and-slogan a {
    color: $color-black;
    display: inherit;
    text-decoration: none;
  }
}

// Images
img {
  max-width: 100%;
  height: auto;
}

// Inputs
@import
  'inputs';

// Search
@import
  'search';

// Typography
.decanter-font-lead {
  font-weight: 400;
}
