/******** WYSIWYG ********/
li {
  line-height: 1.4em;
}

/** EVENT NODE **/
.mrc-event__img {
  margin: 0 2em .5em 0;
}

.mrc-event__date,
.mrc-event__time {
  margin-bottom: .8em;
}

.mrc-event__map-admission {
  margin: .5em 0;
}

/** FOOTER **/
#footer {
  margin-top: 100px;
}

@media (max-width: 600px) {
  #footer {
    margin-top: 60px;
  }
}

@media (max-width: 481px) {
  #footer {
    margin-top: 30px;
  }
}

/** NAVIGATION **/

/******** MAIN NAV ********/

#header {
  padding-bottom: 0;
}

@media (min-width: 951px) {
  .decanter-nav-primary > li > a,
  .decanter-nav-primary.decanter-accordion > li > a {
    font-size: 2rem;
  }
}

.decanter-nav-primary > li > a,
.decanter-nav-primary.decanter-accordion > li > a {
  font-weight: 400;
}

.menu--main a,
.menu--main .menu-item a {
  border-bottom: solid 3px #dad7cb;
}

.js .decanter-main-menu--hover-reveal.menu--main {
  float: right;
}

.ui-widget-content {
  background: none;
}

.ui-menu .ui-menu-item-wrapper {
  padding: 3px 0 30px;
  margin: 0 1.5em 0 0;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background-color: transparent;
  border: none;
  color: #2e2d29;
}

.ui-menu .ui-icon {
  top: -23px;
  right: -18px;
}

.ui-icon, .ui-widget-content .ui-icon {
  background-image: none;
}

/******** IGNORE NEXT, HAD TO INCLUDE IN INJECTOR SO IT WOULD STILL SHOW UP ********/

.menu--main a:hover,
.menu--main a.is-active,
.menu--main .menu-item--active-trail a {
  border-bottom: solid 3px #2e2d29;
}

/******** DROP DOWN MENU ********/

.ui-widget .ui-widget {
  background: #333333;
  padding: 1em;
}

.ui-widget.ui-widget-content {
  border: none;
}

.menu--main a.ui-state-active {
  border-bottom: solid 3px #2e2d29;
}

.decanter-nav-submenu .menu-item a {
  border-bottom: none;
  padding: 0;
  margin: 0 0 10px 0;
  color: #ffffff;
}

.decanter-nav-submenu ul.menu a.is-active {
  color: #dad7cb;
}

.decanter-nav-submenu .menu-item a:hover {
  background-color: transparent;
  color: #dad7cb;
  text-decoration: underline;
}

.decanter-nav-submenu .ui-state-active,
.decanter-nav-submenu .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.decanter-nav-submenu a.ui-button:active,
.decanter-nav-submenu .ui-button:active,
.decanter-nav-submenu .ui-button.ui-state-active:hover {
  background-color: transparent;
  color: #dad7cb;
  text-decoration: underline;
}

/******** SUBNAVIGATION ********/

h2#menu-blockmain-menu {
  display: none;
}

.decanter-width-one-fourth .menu--main a,
.decanter-width-one-fourth .menu--main .menu-item a {
  font-weight: 600;
  padding: 0 0 10px 10px;
  border-bottom: none;
  border-left: 2px solid #fff;

}

.decanter-width-one-fourth .menu--main a:hover,
.decanter-width-one-fourth .menu--main a.is-active,
.decanter-width-one-fourth .menu--main .menu-item--active-trail a {
  border-bottom: none;
  color: #333;
  border-left: 2px solid #333;
}

/** SLIDESHOW **/
@media (min-width: 767px) {
  .slick--optionset--mrc-slideshow .slick-content {
    padding: 35px 70px;
  }
}

/** TEASERS AND POSTCARDS **/
/******** EVENT BLOCKS ********/

.mrc-event-date-stacked-card h2 {
  font-size: 2.3rem;
}

.mrc-date-stacked .mrc-date-stacked__month {
  margin-bottom: .3em;
}

.mrc-date-stacked {
  width: 80px;
  height: 80px;
}

.mrc-event-date-stacked__time-location {
  font-size: 1.8rem;
}

/******** POSTCARD ********/

.mrc-date-stacked {
  margin-bottom: .4em ;
}
