/******** WYSIWYG ********/
li {
  line-height: 1.4em;
}

/** EVENT NODE **/
.mrc-event__img {
  margin: 0 2em .5em 0;
}

.mrc-event__date,
.mrc-event__time {
  margin-bottom: .8em;
}

.mrc-event__map-admission {
  margin: .5em 0;
}

/** FOOTER **/
#footer {
  margin-top: 100px;
}

@media (max-width: 600px) {
  #footer {
    margin-top: 60px;
  }
}

@media (max-width: 481px) {
  #footer {
    margin-top: 30px;
  }
}

/** SLIDESHOW **/
@media (min-width: 767px) {
  .slick--optionset--mrc-slideshow .slick-content {
    padding: 35px 70px;
  }
}

/** TEASERS AND POSTCARDS **/
/******** EVENT BLOCKS ********/

.mrc-event-date-stacked-card h2 {
  font-size: 2.3rem;
}

.mrc-date-stacked .mrc-date-stacked__month {
  margin-bottom: .3em;
}

.mrc-date-stacked {
  width: 80px;
  height: 80px;
}

.mrc-event-date-stacked__time-location {
  font-size: 1.8rem;
}

/******** POSTCARD ********/

.mrc-date-stacked {
  margin-bottom: .4em ;
}
