/******** WYSIWYG ********/
li {
  line-height: 1.4em;
}

/** EVENT NODE **/
.mrc-event__img {
  margin: 0 2em .5em 0;
}

.mrc-event__date,
.mrc-event__time {
  margin-bottom: .8em;
}

.mrc-event__map-admission {
  margin: .5em 0;
}

/** FOOTER **/
#footer {
  margin-top: 100px;
}

@media (max-width: 600px) {
  #footer {
    margin-top: 60px;
  }
}

@media (max-width: 481px) {
  #footer {
    margin-top: 30px;
  }
}

/** NAVIGATION **/

/******** SUBNAVIGATION ********/
.decanter-width-one-fourth .menu--main a,
.decanter-width-one-fourth .menu--main .menu-item a {
  font-weight: 600;
  padding: 0 0 10px 10px;
  border-bottom: none;
  border-left: 2px solid #fff;

}

.decanter-width-one-fourth .menu--main a:hover,
.decanter-width-one-fourth .menu--main a.is-active,
.decanter-width-one-fourth .menu--main .menu-item--active-trail a {
  border-bottom: none;
  color: #333;
  border-left: 2px solid #333;
}

/** SLIDESHOW **/
@media (min-width: 767px) {
  .slick--optionset--mrc-slideshow .slick-content {
    padding: 35px 70px;
  }
}

/** TEASERS AND POSTCARDS **/
/******** EVENT BLOCKS ********/

.mrc-event-date-stacked-card h2 {
  font-size: 2.3rem;
}

.mrc-date-stacked .mrc-date-stacked__month {
  margin-bottom: .3em;
}

.mrc-date-stacked {
  width: 80px;
  height: 80px;
}

.mrc-event-date-stacked__time-location {
  font-size: 1.8rem;
}

/******** POSTCARD ********/

.mrc-date-stacked {
  margin-bottom: .4em;
}

@media(min-width: 481px) {
  #block-math-research-center-mainnavigation {
    button {
      display: none;
    }
  }
}

@media(max-width: 481px) {
  #block-math-research-center-mainnavigation {
    > ul {
      display: none;
    }
  }
}

.ui-widget .fa {
  font: normal normal normal 14px/1 FontAwesome;
}