<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MRC Components | Date Stacked</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../../css/components/date-stacked.css">
</head>

<body>
  <div class="mrc-date-stacked">
    <div class="mrc-date-stacked__month">Mon</div>
    <div class="mrc-date-stacked__day">Day</div>
  </div>
</body>

</html>
