<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MRC Components | News Card</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../../css/components/news-card.css">
</head>

<body>
  <div class="mrc-news-card">
    <a href="#">
      <div class="mrc-news-card__img">
        <img src="http://via.placeholder.com/200x200">
      </div>
    </a>
    <div class="mrc-news-card__content">
      <p class="mrc-news-card__date">Month, Day, Year</p>
      <div class=mrc-news-card__subcontent>
        <p class="mrc-news-card__source">
          <a href="#">Source Link</a>
        </p>
        <p class="mrc-news-card__program">Program Term</p>
      </div>
      <h2 class="mrc-news-card__title"><a href="#">Card Title</a></h2>
    </div>
  </div>
</body>

</html>
