<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MRC Components | Event Card</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../../css/components/event-card.css">
</head>

<body>
  <div class="mrc-event-card">
    <a href="stanford.edu">
      <div class="mrc-event-card__img">
        <img src="http://via.placeholder.com/200x200">
      </div>
    </a>
    <div class="mrc-event-card__content">
      <p class="mrc-event-card__date">Week Day, Month, Day, Year</p>
      <div class=mrc-event-card__subcontent>
        <p class="mrc-event-card__time">Start Time - End Time</p>
        <p class="mrc-event-card__location">Location Information</p>
      </div>
      <h2 class="mrc-event-card__title"><a href="stanford.edu">Card Title</a></h2>
    </div>
  </div>
</body>

</html>
