@charset "UTF-8";

///
/// HOVER MAIN MENU COMPONENT
///

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins';

.js .decanter-main-menu--hover-reveal {
  &.menu--main {
    box-shadow: none;
  }

  .decanter-nav-primary {
    border: none;

    > li > a .ui-menu-icon {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }

  ul ul {
    li {
      position: relative;
      display: block;
    }

    ul {
      left: 100%;
      top: 0;
    }
  }
}

// Styles for no javascript
.no-js .decanter-main-menu--hover-reveal {
  ul li {
    display: inline-block;

    &:first-child {
      @include padding(null null null 0);
    }

    &:last-child {
      @include padding(null 0 null null);
    }

    ul {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.2s linear;
      position: absolute;
      background: $color-white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
      border-radius: 0.25em;
      z-index: 99;

      @include margin(0);
      @include padding(0.5em);

      li {
        position: relative;
        display: block;

        @include margin(0);
        @include padding(0);
      }

      a {
        font-weight: normal;
        color: $color-bright-red;
        display: block;
        border-radius: 0.25em;

        @include padding(0.5em);

        &:hover {
          border-bottom: none;
          color: $color-black;
          background: $color-cool-grey;

          @include padding(null null 0.5em);
        }
      }

      ul {
        left: calc(100% - 10px);

        @include margin((-45px) null null);
      }
    }

    &:hover > ul, ul.focused {
      visibility: visible;
      opacity: 1;
    }
  }

  a {
    color: $color-bright-red;
    font-weight: $font-bold;
    text-decoration: none;

    @include padding(1em null null);

    &:hover {
      border-bottom: 2px solid $color-black;
      color: $color-black;

      @include padding(null null 15px);
    }
  }
}
