@charset "UTF-8";

///
/// HOVER MAIN MENU COMPONENT
///

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins';

// Main menu in header region
.js .decanter-main-menu--hover-reveal {
  &.menu--main {
    box-shadow: none;
    float: right;

    a:hover,
    a.is-active,
    .menu-item--active-trail a,
    a.ui-state-active {
      border-bottom: solid 3px $color-black;
    }
  }

  .decanter-nav-primary {
    border: none;

    &.ui-menu {
      &.ui-widget-content {
        background: none;

        &.ui-widget {
          border: none;
        }

        .ui-icon {
          background-image: none;
        }

        .ui-widget {
          background: $color-black;

          @include padding(1em);
        }
      }

      .ui-menu-item-wrapper {
        @include margin(0 1.5em 0 0);
        @include padding(3px 0 30px);
      }
    }

    a,
    .menu-item a {
      border-bottom: solid 3px $color-cloud;
    }

    > li > a {
      font-weight: $font-normal;

      @media (min-width: 951px) {
        font-size: $base-font-size;
      }

      & .ui-menu-icon {
        right: -18px;
        top: -23px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }

    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active,
    a.ui-button:active,
    .ui-button:active,
    .ui-button.ui-state-active:hover {
      background-color: transparent;
      border: none;
      color: $color-black;
    }

    .decanter-nav-submenu {
      .menu-item a {
        border-bottom: none;
        color: $color-white;

        @include margin(0 0 10px 0);
        @include padding(0);

        &:hover {
          background-color: transparent;
          border: none;
          color: $color-cloud;
          text-decoration: underline;
        }

        &.is-active {
          color: $color-cloud;
        }
      }

      .ui-state-active,
      .ui-widget-content .ui-state-active
      a.ui-button:active,
      .ui-button:active,
      .ui-button.ui-state-active:hover {
        background-color: transparent;
        color: $color-cloud;
        text-decoration: underline;
      }
    }
  }

  ul ul {
    li {
      position: relative;
      display: block;
    }

    ul {
      left: 100%;
      top: 0;
    }
  }
}

// Subnavigation - no JavaScript
// No JavaScript is applied to the menu when
// it does not appear in the Header region.
.js .decanter-width-one-fourth {
  .decanter-main-menu--hover-reveal.menu--main {
    h2#menu-blockmain-menu {
      @include margin(0 null null);

      a {
        color: $color-black;
        font-size: $h2-font-size;
        font-weight: $font-bold;
      }
    }

    a {
      font-weight: $font-bold;
      text-decoration: none;

      @include padding(0 0 5px 10px);

      &:hover,
      &.is-active,
      &.ui-state-active {
        border-bottom: none;
      }

      &.is-active {
        border-left: 2px solid $color-black;
      }
    }

    .menu-item--active-trail {
      a {
        border-bottom: none;
        color: $color-bright-red;

        &:hover {
          color: $color-black;
        }

        &.is-active {
          color: $color-black;
          font-weight: $font-bold;
        }
      }

      &.menu-item--expanded > a {
        border-left: 2px solid $color-black;
        color: #2e2d29;
        font-weight: $font-bold;
      }

      ul.menu .menu-item a.is-active {
        border-left: none;
        color: $color-black;
        font-weight: $font-bold;
      }
    }

    ul.menu ul.menu .menu-item a {
      font-weight: $font-normal;

      @include padding(null null null 20px);
    }

    ul {
      @include margin(null null 0);
    }
  }
}

// Styles for no JavaScript
.no-js .decanter-main-menu--hover-reveal {
  ul li {
    display: inline-block;

    &:first-child {
      @include padding(null null null 0);
    }

    &:last-child {
      @include padding(null 0 null null);
    }

    ul {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.2s linear;
      position: absolute;
      background: $color-white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
      border-radius: 0.25em;
      z-index: 99;

      @include margin(0);
      @include padding(0.5em);

      li {
        position: relative;
        display: block;

        @include margin(0);
        @include padding(0);
      }

      a {
        font-weight: normal;
        color: $color-bright-red;
        display: block;
        border-radius: 0.25em;

        @include padding(0.5em);

        &:hover {
          border-bottom: none;
          color: $color-black;
          background: $color-cool-grey;

          @include padding(null null 0.5em);
        }
      }

      ul {
        left: calc(100% - 10px);

        @include margin((-45px) null null);
      }
    }

    &:hover > ul, ul.focused {
      visibility: visible;
      opacity: 1;
    }
  }

  a {
    color: $color-bright-red;
    font-weight: $font-bold;
    text-decoration: none;

    @include padding(1em null null);

    &:hover {
      border-bottom: 2px solid $color-black;
      color: $color-black;

      @include padding(null null 15px);
    }
  }
}
