@charset "UTF-8";

///
/// SLIDESHOW
///

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
'../utilities/mixins/mixins';

.slick--optionset--mrc-slideshow {
  position: relative;

  @include margin(null null 3em);

  .slick-content {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: $color-white;
    position: absolute;
    text-align: center;
    width: 50%;

    @include padding(35px);

    .mrc-slide.field-mrc-slide-title {
      font-size: $h2-font-size;
      font-weight: $font-bold;
    }

    .field-mrc-slide-body {
      @include margin(0.75em null null);
    }

    .field-mrc-slide-link {
      @include margin(0.5em null null);

      a {
        color: $color-white;
      }
    }
  }

  .slick-arrow {
    background: transparent;
    color: transparent;
    height: 80px;
    position: absolute;
    top: 305px;

    @include margin(0);

    &:hover,
    &:focus {
      background: transparent;
      color: transparent;
    }

    &.slick-next {
      right: 0;

      &:before {
        color: $color-white;
        content: "\f105";
        font-family: FontAwesome;
        font-size: 75px;
        position: absolute;
        right: 20%;
        top: 0;

        @include padding(0 10px);
      }
    }

    &.slick-prev {
      &:before {
        color: $color-white;
        content: "\f104";
        font-family: FontAwesome;
        font-size: 75px;
        left: 20%;
        position: absolute;
        top: 0;

        @include padding(0 10px);
      }
    }
  }

  .slick-dots {
    bottom: -55px;
    list-style: none;
    position: absolute;
    text-align: center;
    width: 100%;

    @include padding(0);

    li {
      display: inline-block;
      position: relative;

      @include margin(0 5px);

      button {
        background: transparent;
        color: transparent;
        display: block;
        font-size: 0;
        height: 20px;
        line-height: 0;
        width: 20px;

        @include padding(5px);

        &:before {
          color: $color-black;
          content: "\f1db";
          font-family: FontAwesome;
          font-size: 18px;
          height: 20px;
          left: 0;
          line-height: 20px;
          position: absolute;
          text-align: center;
          top: 0;
          width: 20px;

          @include font-smoothing;
        }
      }

      &.slick-active button:before {
        content: "\f111";
      }
    }
  }

  button:focus {
    box-shadow: none;
  }
}
