@charset "UTF-8";

///
/// HORIZONTAL POSTCARD COMPONENT
///

// Decanter
@import
  'decanter/scss/lib/bourbon',
  'decanter/scss/core/variables',
  'decanter/scss/core/utilities';

.mrc-horizontal-postcard {
  background: $color-white;
  box-shadow: $box-shadow;
  display: block;
  padding: 3rem;

  @include media($medium-screen) {
    display: flex;
  }


  .mrc-horizontal-postcard__img {
    margin-right: 0;

    @include media($medium-screen) {
      margin-right: 30px;
    }
  }

  .mrc-horizontal-postcard__content {
    .mrc-horizontal-postcard__superhead {
      font-weight: $font-bold;
      margin: 0 0 .2em;
    }

    h2 {
      margin-top: 0;
    }

    .mrc-horizontal-postcard__button {
      text-align: center;
    }
  }
}
