<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Decanter Elements | Embed</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../../css/components/horizontal-postcard.css">
</head>

<body>
  <div class="mrc-horizontal-postcard">
    <a href="stanford.edu">
      <div class="mrc-horizontal-postcard__img">
        <img src="http://via.placeholder.com/370x170">
      </div>
    </a>
    <div class="mrc-horizontal-postcard__content">
      <p class="mrc-horizontal-postcard__superhead">Optional Superhead</p>
      <h2><a href="stanford.edu">Block Title</a></h2>
      <p>Optional wysiwyg lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum aliquet iaculis. Cras faucibus turpis non facilisis laoreet.</p>
      <div class="mrc-horizontal-postcard__button">
        <a href="#" class="decanter-button">Optional Button</a>
      </div>
    </div>
  </div>
</body>

</html>
