@charset "UTF-8";

///
/// EVENT DATE STACKED COMPONENT
///

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins',
  'patterns/atoms/date-stacked/scss/date-stacked';

.mrc-event-date-stacked-card {
  display: table-cell;

  @include mrc-card-container;

  .mrc-event-date-stacked__item {
    clear: both;

    @include margin(null null 1em);

    .mrc-event-date-stacked__content {
      display: table-cell;

      .mrc-event-date-stacked__title {
        @include margin(0 null 0.25em);
      }
    }
  }

  .mrc-date-stacked {
    float: left;

    @include margin(null 1em 1em null);
  }

  .mrc-event-date-stacked__time-location {
    display: flex;
    flex-wrap: wrap;
  }
}
