@charset "UTF-8";

///
/// POSTCARD COMPONENT
///

// An extensible content container with options for a wide variety of content.

// Decanter
@import
  'decanter/scss/lib/bourbon',
  'decanter/scss/core/variables',
  'decanter/scss/core/utilities';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins';

.mrc-postcard--horizontal {

  @include mrc-flex-medium;

  .mrc-postcard--horizontal__img {
    margin-right: 0;

    img {
      width: 100%;
    }

    @include media($medium-screen) {
      margin-right: 30px;

      img {
        width: auto;
      }
    }
  }
}
