@charset "UTF-8";

///
/// POSTCARD HORIZONTAL COMPONENT
///

// An extensible content container with options for a wide variety of content.

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins';

.mrc-postcard--horizontal {
  @include mrc-card-container;
  @include mrc-flex-medium;

  .mrc-postcard__img {
    margin-right: 0;

    @include media($medium-screen) {
      margin-right: 30px;

      img {
        width: auto;
      }
    }
  }

  .mrc-postcard__title {
    margin-top: 0;
  }
}
