@charset "UTF-8";

///
/// NEWS NODE STYLES
///

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins';

.mrc-news__date-source {
  flex-wrap: wrap;

  @include mrc-flex-medium;

  .mrc-news__date {
    margin: 0 0 0.25em 0;

    @include media($medium-screen) {
      margin: 0;

      &:after {
        content: "|";
        padding: 0 0.25em;
      }
    }
  }

  .mrc-news__source {
    margin-top: 0;
  }
}

.mrc-news__img {
  img {
    width: 100%;
  }
}

.mrc-news__author {
  font-style: italic;
  font-weight: $font-bold;

  p:before {
    content: "Story by ";
  }
}
