@charset "UTF-8";

///
/// POSTCARD COMPONENT
///

// An extensible content container with options for a wide variety of content.

// Decanter
@import
  'decanter/scss/lib/bourbon',
  'decanter/scss/core/variables',
  'decanter/scss/core/utilities';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins';

.mrc-postcard {
  @include mrc-card-container;

  .mrc-postcard__img {
    img {
      width: 100%;
    }
  }

  .mrc-postcard__content {
    .mrc-postcard__superhead {
      font-weight: $font-bold;
      margin: 0 0 .2em;
    }

    .mrc-postcard__title {
      margin-top: 0;
    }

    .mrc-postcard__button {
      text-align: center;
    }
  }
}
