@charset "UTF-8";

///
/// VISITORS GRID COMPONENT
///

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
  '../utilities/mixins/mixins';

.mrc-visitors-grid-card {
  @include mrc-card-container;

  .mrc-visitors-grid__item {
    @include margin(null null 1em);

    .mrc-visitors-grid__img img {
      @include margin(0 auto);
      display:block;
    }

    .mrc-visitors-grid__name {
      @include margin(0.25em null);
    }

    .mrc-visitors-grid__title {
      font-weight: 700;

      @include margin(null null 0.25em);
    }
  }
}
