@charset "UTF-8";

///
/// EVENT CARD COMPONENT
///

// Decanter
@import
  'decanter-no-markup';

// Stanford Math Research Center
@import
'../utilities/mixins/mixins';

.mrc-event-card {
  @include margin(null null 2em);
  @include mrc-card-container;
  @include mrc-flex-medium;

  .mrc-event-card__img {
    @include margin(null 0 null null);

    flex-shrink: 0;

    img {
      width: 100%;
    }

    @include media($medium-screen) {
      @include margin(null 30px null null);

      img {
        width: auto;
      }
    }
  }

  .mrc-event-card__content {
    .mrc-event-card__program {
      @include margin(0 0 0.25em 0);

      font-size: $small-font-size;
    }

    .mrc-event-card__date {
      @include margin(0 0 0.25em 0);

      font-size: $small-font-size;
    }

    .mrc-event-card__subcontent {
      display: flex;
      flex-wrap: wrap;
      font-size: $small-font-size;

      @include margin(0 0 0.25em 0);

      .mrc-event-card__location {
        @include margin(0 null null);
      }
    }

    .mrc-event-card__speaker {
      font-size: $small-font-size;

      .field-content {
        display: inline-block;
      }
    }

    .mrc-event-card__title {
      @include margin(0.5em null null);
    }
  }
}
