<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MRC Components | Featured Event Card</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../../css/components/featured-event-card.css">
</head>

<body>
  <div class="mrc-featured-event-card">
    <a href="#">
      <div class="mrc-featured-event-card__img">
        <img src="http://via.placeholder.com/350x350">
      </div>
    </a>
    <div class="mrc-featured-event-card__content">
      <div class="mrc-featured-event-card__date">
        <div class="mrc-date-stacked__month">Mon</div>
        <div class="mrc-date-stacked__day">Day</div>
      </div>
      <div class=mrc-featured-event-card__subcontent>
        <p class="mrc-featured-event-card__time">Start Time</p>
        <p class="mrc-featured-event-card__location">Location Information</p>
      </div>
      <h2 class="mrc-featured-event-card__title"><a href="#">Card Title</a></h2>
      <p class="mrc-featured-event-card__teaser">Description teaser lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut...</p>
    </div>
  </div>
</body>

</html>
